<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>Sheffield Children's NHS Foundation Trust</td>
        <td><strong>Department:</strong> Sheffield Diagnostics Genetics Service</td>
    </tr>
    <tr>
        <td><strong>Title:</strong> General: Protocol/Service validation form</td>
        <td><strong>Document reference number:</strong> 401.208</td>
    </tr>
</table>

<h1>{{ title }}</h1>

<table>
    <tr>
       <td colspan="2">Complete this form electronically, save in G:\BUSINESS\PROTOCOLS\VALIDATION as SECTION NAME_Disease Name_Name of procedure eg CTD_OI_COL1A1 MLPA</td>
    </tr>
    <tr>
       <td colspan="2">SECTION A- please complete and send to Head of Lab Services.  Please note, until this has been agreed, this cannot proceed to validation.</td>
    </tr>
    <tr>
       <td>Section</td>
       <td>{{ section }}</td>
    </tr>
    <tr>
       <td>Service</td>
       <td>{{ service }}</td>
    </tr>
    <tr>
       <td>Head of Service</td>
       <td>{{ head }}</td>
    </tr>
     <tr>
       <td colspan="2"></td>
    </tr>
    <tr>
       <td colspan="2">SECTION B*- please complete after validation</td>
    </tr>
    <tr>
       <td colspan="2"></td>
    </tr>

</table>

</body>
</html>