<html>
<head>
    <title>SDGS NGS Validation</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel=stylesheet type=text/css href="static/validation.css">

</head>
<body>
<form id="main" method="post" action="{{ url_for('giab_summary') }}">
    <div class="form-group">
        <label for="filepath">Path to results file</label>
        <input class="form-control" id="filepath" name="filepath" type="text" value>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" id="submit" name="submit" type="submit" value="View Summary">
    </div>
</form>
</body>